.poste {
  width: 20px;
  height: 100px;
  background-color: #000;
}

.traficLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 150px;
  background-color: #000;
  align-items: center;
  justify-content: space-around;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.selected {
  box-shadow: 0 0 40px 20px rgb(240, 252, 69);
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
